.search-bar-container{
  
}
.search-bar{
  height:52px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 1112px;
  border-radius: 20px;
  color:white;
  border-width: 1px;
  border-color: #03DAC5;
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 400;
  padding-left:21px ;
  font-style: normal;
  
}
.search-bar::placeholder{
  color:rgba(255, 255, 255, 0.7);
  font-size:20px;
}